[2014-04-01 14:45] mhamrah opened #1 "What's the atom theme you use for your screenshot?"
Thanks.

[2014-04-01 17:43] #1 closed, assigned to nobody

[2014-04-09 15:34] mathieucivel opened #2 "line messed with "=""
Great package !
However I have this

[code]

transformed in

[code]

[2014-04-11 00:11] chemoish opened #3 "inline arrays... maybe?"
[code]

[code]

strings left align
ints right align

[2014-04-16 18:42] #2 closed, assigned to nobody

[2014-04-18 14:02] mathieucivel opened #4 "aligning colons seems broken in 0.0.3"
Aligning equals operators now works nicely. However nothing seems to be done with colons.

[2014-04-29 17:01] #3 closed, assigned to nobody

[2014-05-16 17:48] #4 closed, assigned to nobody

[2014-07-30 09:29] nitsujri opened #5 "Old style Ruby hashes"
Starting:

[code]

Results in (also loses indentation):

[code]

Thanks for all that you do with this plugin.

[2014-08-08 09:34] #5 closed, assigned to nobody

[2014-08-18 06:29] adrianlee44 opened #6 "WorkspaceView.getActivePaneItem is deprecated."
Use Workspace::getActivePaneItem instead

[code]

[2014-08-18 09:03] #6 closed, assigned to nobody

[2014-09-05 20:06] mpolichette opened #7 "Bug? All my spaces are replaced with "·""
I'm not sure what has happened, when I first got this plugin it was working amazingly.... so :+1:  for that!   However, for some reason it started also replacing all the spaces on the lines it aligned with "·" ([Middle Dots](http://www.fileformat.info/info/unicode/char/00b7/index.htm)).

I'm wondering if anyone has seen this before.

Anyway, I haven't dug in to find out why, but it is preventing m

[2014-09-12 23:23] #7 closed, assigned to nobody

[2014-09-17 07:59] chrismwendt opened #8 "Alignment inserts space at beginning of line"
Running Vertical Align: Align on this line (surrounded by blank lines)

[code]

inserts a space at the beginning of the line

[code]

I'm using Vertical Align 0.6.0.

[2014-09-17 08:02] chrismwendt opened #9 "Align last line with comma throws TypeError"
Running Vertical Align: Align on a file with a single line containing a comma

[code]

throws a TypeError. I'm using Vertical Align 0.6.0.

[2014-09-18 10:02] #8 closed, assigned to nobody

[2014-09-18 10:02] #9 closed, assigned to nobody

[2014-09-24 05:49] ShimShamSam opened #10 "Aligning object keys differently"
I'd like to see an option to align objects keys like so:

[code]
Instead of

[code]

Also, note that there is always at least 1 space before the colons. I would think this could pretty much copy the exact logic used for "="

[2014-09-24 06:17] ShimShamSam opened #11 "Name of package is misleading"
"Vertical align" is a confusing name for this package. Vertical alignment, at least in the context of web development, means you are aligning things vertically along the y-axis. For example, these boxes are aligned vertically:

[code]

One replacement name suggestion might be "Aligner"

[2014-09-24 08:46] #11 closed, assigned to adrianlee44

[2014-10-03 19:23] johngibb opened #12 "Handle multi-line var assignments"
Given input like this:

    var Apple = require('apple'),
        Banana = require('banana'),
        Grapefruit = require('grapefruit');

The first item isn't properly lined up, like so:

    var Apple = require('apple'),
        Banana     = require('banana'),
        Grapefruit = require('grapefruit');

I would expect this:

    var Apple      = require('apple'),
        Banana     = require('b

[2014-10-13 00:58] davelandry opened #13 "CSS/SCSS Support"

[2015-02-17 13:38] QuentinRoy commented on #10
+1
(longest week ever ! :-D)

[2015-02-19 18:10] adrianlee44 commented on #10
Thanks for reminding me on this as I completely forgot about it.

[2015-02-21 04:47] #10 closed

[2015-02-21 14:12] ShimShamSam commented on #10
I think this is the first package to support this option. Looking forward to the release!

[2015-02-21 14:14] adrianlee44 commented on #10
I'm still working on the README but should be releasing this very soon. The release should give the user the option to either pad left or right of the operator and if one extra whitespace should be added to the left or right.

[2015-02-21 14:51] adrianlee44 commented on #10
@ShimShamSam, @QuentinRoy

`vertical-align` has been bumped to `v0.8.0` with custom configuration support. After updated the package and restarted Atom, you can find all the options in `vertical-align` setting page.

More information can be found here, https://github.com/adrianlee44/atom-vertical-align/wiki/User-configurations

Please let me know if you run into any bugs.

[2015-02-21 18:36] ShimShamSam opened #14 "Left/Right space for ',' are reversed"
Maybe I'm misunderstanding the settings, but I think the left/right options are swapped in terms of what they do.

[2015-03-09 17:53] mathieucivel commented on #13
+1

[2015-03-09 19:08] davelandry commented on #13
+1

[2015-03-12 08:41] adrianlee44 commented on #13
Looking into this. The current approach I have is to create a separate package with `css/scss` support similar to how `linter` does it

[2015-03-12 19:31] davelandry commented on #13
Why make a separate package instead of just including it within this? You already support multiple languages.

[2015-03-13 08:01] adrianlee44 commented on #13
Vertical align relies on Atom's language parser to align operators and as the package adds support more languages, more configurations are needed for each operator. Some languages label similar operator differently and this might unintentionally align the wrong operator in different languages.

Splitting out language packages will make the configurations easier to maintain and reduce the chance of

[2015-03-13 12:49] davelandry commented on #13
:+1:

[2015-03-23 06:44] adrianlee44 commented on #13
@davelandry, @mathieucivel

Vertical-align has been renamed to [aligner](https://atom.io/packages/aligner) and bumped to v0.9.0 with add-on support.

For CSS, SASS, and SCSS support, you can download [aligner-css](https://atom.io/packages/aligner-css).

Let me know if you find any bugs.

[2015-03-23 06:44] #13 closed

[2015-03-23 08:25] mathieucivel commented on #13
Thanks :thumbsup:

[2015-03-26 21:42] simonlast opened #15 "Support for tabs"
Currently, any leading tabs are converted into spaces when the aligner is activated.

			a = 1
			b = 2
			c = 3

	    a = 1
	    b = 2
	    c = 3

[2015-03-26 21:54] MadRabbit opened #16 "Doesn't support ruby 1.9 hashes + CSS?"
Hey guys, firstly, thank you for an awesome plugin! Secondly, thought I'll report an issue.

Apparently it doesn't work in ruby 1.9 syntax hashes. Which is a bit of a bummer. Try something like this

[code]

Shouldn't be too hard to support, i mean, it's practically the same as the javascript hashes.

Also, a feature request, can you make CSS/LESS work as well?

Thanks!

[2015-03-27 07:06] adrianlee44 commented on #13
Unfortunately there was a bug with `aligner-css` and it wasn't handling `scss` and `sass`  correctly. I moved support for `scss` and `sass` to its own package [aligner-scss](https://github.com/adrianlee44/atom-aligner-scss) and changed `aligner-css` to support `css` and `less`

[2015-03-27 07:07] adrianlee44 commented on #16
I have added support for CSS and LESS in [aligner-css](https://github.com/adrianlee44/atom-aligner-css). You can find the package on Atom package manager.

[2015-03-27 08:42] adrianlee44 commented on #16
As for the Ruby syntax, ruby grammar in `language-ruby` needs to be updated first to represent `:` correctly.

I have opened a PR, atom/language-ruby#87 to address this issue. Once that's merged, I'll update [aligner-ruby](https://github.com/adrianlee44/atom-aligner-ruby)

[2015-03-27 09:45] MadRabbit commented on #16
Ah sweet! Thank you for the fix and a quick update! Looking forward for the ruby update!

[2015-03-27 15:27] davelandry commented on #13
Thanks for the update, great stuff! :beers:

[2015-03-27 16:48] lee-dohm commented on #16
As I commented directly on the pull request, this would break expectations for at least some people's syntax themes, mine included. If you wish to customize the colorization of the colon to be different than the rest of the symbol declaration, you can always add something like this to your `styles.less`:

[code]

Now, this will change the colorization of *all* colons in symbol declarations. If you

[2015-03-27 19:36] adrianlee44 commented on #16
@lee-dohm, the original intension was to distinguish the colon between `:foo` and `foo:` so the package can align the colon accordingly. I think the second suggestion of adding `hashkey` to the scope will do.

Will open another PR on language-ruby to address this issue.

[2015-03-27 19:39] lee-dohm commented on #16
:+1:

[2015-03-31 16:48] dcalhoun commented on #7
@adrianlee44 I'm experiencing this issue as well inside of a JavaScript file. My soft tab spaces are replaced with a `·` character. Does atom-aligner take into account whether the user utilizes soft tabs? [Here's a short screencast of the issue](http://quick.as/b7wyfrolo).

![atom-aligner spaces](https://cloud.githubusercontent.com/assets/438664/6924068/71028d32-d79b-11e4-8d57-7e5f67bc95a2.gif)

#

[2015-03-31 17:10] adrianlee44 commented on #7
hi @dcalhoun, thanks for reporting this issue. This is a known bug on my end but I haven't created an issue yet on Github yet.

The problem is `invisibles` are getting converted into real text. Disabling invisible will fix the problem for now but I'm looking into this issue.

[2015-03-31 17:16] adrianlee44 opened #17 "Soft tab spaces are replaced with a `·` character"
From @dcalhoun:
I'm experiencing this issue as well inside of a JavaScript file. My soft tab spaces are replaced with a `·` character. Does atom-aligner take into account whether the user utilizes soft tabs? [Here's a short screencast of the issue](http://quick.as/b7wyfrolo).

![atom-aligner spaces](https://cloud.githubusercontent.com/assets/438664/6924068/71028d32-d79b-11e4-8d57-7e5f67bc95a2.gif)

[2015-03-31 17:16] adrianlee44 commented on #7
I have made a new issue, #17 to better track this bug.

[2015-04-01 20:40] marnen opened #18 "How to specify `multiple` in a language plugin?"
I'm trying to write an [Aligner plugin for Gherkin](/marnen/atom-aligner-gherkin). I would like to specify `multiple` as a property of the `|` character. However, because `multiple` seems to have to be a nested object rather than a simple string, every method I can think of fails, as follows:

## 1. Specify object within provider.coffee
[code]
__Result:__  appears to display correctly on package s

[2015-04-01 20:46] marnen commented on #18
...and I neglected to mention that I'm using Aligner 0.9.1.

[2015-04-02 01:38] vinnymac commented on #17
Just confirming that I have this issue on Ubuntu 14.04. It appears to happen in all sorts of files, js, coffee, json etc. I have turned off invisibles and it does remedy aligning. Thanks for making a ticket for it.

[2015-04-02 05:26] #15 closed

[2015-04-02 05:27] #17 closed

[2015-04-02 08:20] adrianlee44 commented on #18
Thanks for your interest in aligner, @marnen.

Allow me to answer your thoughts on each of the format,
1. That was my original intention but there seem to be a bug with `object` type in config. It wasn't very reliable when I was developing this and hence not using this format.

2. This is the current approach for aligner config. As you have mentioned above, it's currently splitting on hyphens but

[2015-04-02 08:33] adrianlee44 commented on #17
@vinnymac, @dcalhoun: This should be fixed with v0.10.0. Thanks.

[2015-04-02 08:33] adrianlee44 commented on #15
@simonlast: This should be fixed with v0.10.0. Thanks!

[2015-04-02 08:53] adrianlee44 commented on #16
@lee-dohm, just to clarify. Do you mean adding `hashkey` to both 1.5 and 1.6 syntax scope?

Since I'm trying to distinguish the colon between `:foo` and `foo:`, adding `hashkey` to both syntax scopes won't be useful to me. I was wondering if you have any suggestions.

Thanks for your help! :)

[2015-04-02 14:31] marnen commented on #18
Thanks for your detailed response! I'm trying to align tables in Gherkin (Cucumber):

[code]

[2015-04-02 15:52] lee-dohm commented on #16
I'm suggesting adding `hashkey` to only the Ruby 1.9+ hash syntax scope, the one that allows the colon after the symbol name. And it should be added *only* in the case of the colon appearing after the symbol name.

[2015-04-02 19:24] simonlast commented on #15
Works beautifully, thank you :)

[2015-04-03 06:41] adrianlee44 commented on #16
Opened atom/language-ruby#88 to address this issue

[2015-04-06 07:19] #14 closed

[2015-04-08 00:07] #16 closed

[2015-04-08 00:20] adrianlee44 commented on #16
@MadRabbit, 1.9 syntax hashes should work now with `aligner-ruby` v1.2.0 and Atom v0.190.0.

[2015-04-08 17:27] adrianlee44 commented on #18
Just want to leave a quick update.

I'm currently working on this and should have a fix very soon. The update config file will look something like:
[code]
`privateConfig` will not show up in the setting panel.

[2015-04-08 18:33] marnen commented on #18
Thanks! I look forward to trying it out.

[2015-04-08 18:45] marnen commented on #18
Thanks! I look forward to trying it out.

[2015-04-09 00:32] MadRabbit commented on #16
em, i'm afraid i don't see the `aligner-ruby` in the list of available packages

[2015-04-09 00:33] adrianlee44 commented on #16
@MadRabbit Have you updated Atom to v0.190.0?

[2015-04-09 05:50] MadRabbit commented on #16
yup

[2015-04-09 07:19] adrianlee44 commented on #16
hm... I'm not sure why it's not showing up for you. I'm on Atom v0.190.0 and was able to find `aligner-ruby` v0.12.0. Maybe try restarting Atom, uninstall existing `aligner-ruby` and reinstall it?

[2015-04-09 23:29] MadRabbit commented on #16
well that's the thing, i don't have it installed, and I don't see it on the list of available packages either

[2015-04-10 05:45] adrianlee44 commented on #16
I have reverted Atom requirement and bumped the version to v1.2.1. Let me know if you see the package at all.

[2015-04-10 08:00] adrianlee44 commented on #18
Aligner has been bumped to `v0.11.0` with better configuration support. You can find the documentation at https://github.com/adrianlee44/atom-aligner/wiki/Creating-aligner-add-ons. Let me know if you run into any bug / question.

[2015-04-10 08:00] #18 closed

[2015-04-10 10:34] MadRabbit commented on #16
ah, all working now! sorry, don't know what was the problem, but now i see the `aligner-ruby` and works perfectly!

much appreciated!

[2015-05-26 21:05] markwainwright opened #19 "Aligning doesn't work in JS object literals that contain functions"
Thanks for all your hard work on this package. It's awesome.

One bug: placing the cursor on the second line of

[code]

and activating the plugin gives:

[code]

[2015-05-26 22:45] adrianlee44 commented on #19
Thanks for reporting the issue. There seems to be 2 bugs here.

1. appending `undefined`
Do you have `Show Invisibles` option enabled? Also, do you have any other aligner plugin activated?

2. not aligning at all
This seems to be an upstream bug with `language-javascript` not tokenizing `c: function(){}` correctly.

[2015-05-27 18:15] markwainwright commented on #19
Hey - thanks for the reply.

No, I don't have `Show Invisibles` enabled. I just disabled all other community plugins and was able to still reproduce the issue.

[2015-05-27 18:22] adrianlee44 commented on #19
Got it. I'll continue to look into the `undefined` bug. As for the alignment issue, it should be resolved with the next Atom release since a fix has been merged on language-javascript (atom/language-javascript#153)

[2015-06-08 09:58] prassie opened #20 "Failed to load the quick-jump package"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.207.0
**System**: Microsoft Windows 7 Professional
**Thrown From**: [aligner](https://github.com/adrianlee44/atom-aligner) package, v0.13.0

### Stack Trace

Failed to load the quick-jump package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-08 20:54] adrianlee44 commented on #20
@prassie,
I don't see `aligner` as installed packages and I believe this error is thrown from [quick-jump](https://atom.io/packages/quick-jump).

[2015-07-04 10:24] olafgleba opened #21 "Sass/SCSS, alignment only works in Bracket context"
Hi,

atom-aligner + atom-aligner-scss installed. I am not sure which package causes following behaviour:

**Works**:

    .foo {
      // Class context, alignment works well with any <key|property> combination

      $table-padding:      $base-spacing-unit !default;
      $table-border-width: $base-font-size !default;
    }

**Fails**:

    // No context (e.g. declaring variables in a configuratio

[2015-07-04 19:39] adrianlee44 commented on #21
This has to do with `language-sass` not parsing the second case correctly. I'll make a PR with `atom/language-sass`

[2015-07-04 21:55] olafgleba commented on #21
Thanks for your effort. And for making this package.

[2015-07-07 07:07] adrianlee44 commented on #21
Created atom/language-sass#72. Will update `aligner-scss` when the PR is merged.

[2015-07-07 07:13] adrianlee44 commented on #20
Closing this issue since there hasn't been activity for 28 days. Please reopen this issue if it's still a problem.

[2015-07-07 07:13] #20 closed

[2015-07-07 07:14] adrianlee44 commented on #19
Completely forgot about this bug, @markwainwright, is this still an issue?

[2015-07-07 18:55] gwilakers commented on #19
Yes, I can confirm this is still a bug. I am seeing it happen in my code when trying to align things like node require packages and such.

[2015-07-21 19:45] gwilakers commented on #19
@adrianlee44 Looked into this any?

[2015-07-21 20:07] adrianlee44 commented on #19
@gwilakers, yea. Was just looking into this yesterday. I wasn't able to reproduce this but I have idea where this is happening.

Also, which OS are you on and any chance there is trailing whitespace when you align?

[2015-07-21 20:10] gwilakers commented on #19
Okay cool. I am on a Mac, and I made sure to remove the trailing whitespace before using the package. Here is a simple example of a piece of code that will not align properly:
[code]

[2015-07-22 08:35] adrianlee44 commented on #19
@gwilakers, you should not need to remove trailing whitespace before using the package. As for not aligning properly, is the problem you are seeing the same as #12?

[2015-07-22 20:27] gwilakers commented on #19
@adrianlee44 I do not believe so, as I have tried the fix suggested at the bottom of that thread and still receive the same results. Here is another example of code that will not align:

[code]

[2015-07-23 06:56] adrianlee44 commented on #19
@gwilakers, the case at the bottom of that thread and also being able to align `var` code, such as the one below, is not implemented yet.

[code]

As for the case you mentioned above, it aligns correctly for me. Maybe I ask what version of Atom and aligner are you on?

[2015-07-29 06:14] adrianlee44 commented on #21
With that latest `Atom` v1.0.3 update, it comes with `language-sass` v0.40.0 which fixes `:`.

Updating `Atom` to v1.0.3 and `aligner-sass` to v1.0.2 should fix this.

[2015-07-29 06:14] #21 closed

[2015-07-31 09:33] seoker opened #22 "Cannot align across multilines with comment"
Hello,

Thanks for the awesome work, it's very useful for me to beautify codes.
I would like to suggest an enhancement if possible. If I have few lines like
[code]
The aligner seems couldn't work while I select line from the first comment (even the first property) to the last properties since some of the selected lines doesn't contain a colon symbol.

What I expect is:
[code]

I'm wondering if thi

[2015-08-04 07:45] adrianlee44 commented on #22
You should be able to set multiple cursors and align each block accordingly. This is still not exactly what you describe though. It's definitely something I can add to aligner. Let me take a look at this.

[2015-08-08 08:48] #22 closed

[2015-08-08 08:57] adrianlee44 commented on #22
A new option has been added, `Align across comments`, in v0.14.0 which would allow you to do what you describe above.

[2015-08-08 14:50] seoker commented on #22
Great, thanks for the effort :)

[2015-08-10 08:44] seoker opened #23 "'undefined' was appended on the comment line when align across comments"
Hi, I've tried the 'Allow across comments' option, two problems:
(1) when the selection include a comment at the first line, the aligner doesn't work.
(2) the aligner appends some 'undefined' at the end of comment line.
ex:
[code]
result:
[code]

[2015-08-10 23:11] adrianlee44 commented on #23
Thanks for reporting this. I'll look into this asap.

[2015-08-11 08:27] adrianlee44 commented on #23
Patched above bugs with `v0.15.0`. Please let me know if you run into any more issues and thanks for reporting them.

[2015-08-11 08:27] #23 closed

[2015-08-11 14:19] gwilakers commented on #19
I am using Atom 1.0.5, which the case you mention working for you does not work for me in. Another example that does not work is:
[code]

[2015-08-12 07:45] adrianlee44 commented on #19
@gwilakers, I would need some help and more debug information to figure out this problem.

#### Packages
Can you paste the output of `apm ls --installed`? It should be something like this
[code]

#### Keybinding
Atom has a keybinding resolver and can be activate with `cmd-.`. Can you screen capture the output when pressing either `ctrl-cmd-/` or `ctrl-alt-/` based on your platform?

#### Console o

[2015-08-13 06:09] seoker opened #24 "Aligner doesn't work in some cases with multi-block across comments"
Hi, I had tried 0.15.0, here I still found some issues.
I'm not sure if there're same issue.

**case 1** (not aligned yet)
[code]
As you can see, there're 3 blocks, the aligner works if I align each block separately, but:
a. If I select from first line to the last line and press ctrl-cmd-/, only last block get aligned.
b. If I select from last line to the first line and press ctrl-cmd-/, nothing g

[2015-08-13 08:39] adrianlee44 commented on #24
Thanks for reporting this.

It was by design that if there are new lines between each code block + comment, each block will be treated as its separate block and only align the within.

Based on the examples and instructions you have given me, I'm unable to reproduce what you have described. I will continue to look into this issue.

By design, this is what aligner should do:

**case 1**
[code]
to
[

[2015-08-13 17:30] seoker commented on #24
Sorry that I had a mistake on the example of case 2, I've edited my post, please check it again.

About the design, I'm just thinking if we could have an option that allow me to align multiple blocks to a single vertical line rather than separate alignment if I select them all at once.
That is, if I really want them align respectively, I would align them one by one. But I'm not sure if it's a conv

[2015-08-21 15:44] Tolmark12 opened #25 "Align on brackets"
I write my scss like so:

[code]

Would it be possible to write an aligner extension that accomplishes this? I've tried forking the scss package and aligning on the ```{```, which works well for items that are indented to the same column, but doesn't work for lines that have different indentation.

[2015-08-27 07:31] adrianlee44 commented on #25
Aligner was designed to only align adjacent lines with the same indentation.

I'm currently looking into aligning all lines within user selection which should cover the use case you mentioned above.

[2015-08-27 14:40] Tolmark12 commented on #25
Very cool, thanks!

[2015-09-06 14:14] Zone22 opened #26 "Python support?"
Would you consider adding support for Python?

[2015-09-07 07:40] adrianlee44 commented on #26
Will definitely like to add support for Python.

May I ask what are some common characters/operators you align in Python?

[2015-09-08 00:16] Zone22 commented on #26
Here's a [file](https://github.com/Zone22/caster/blob/master/caster/apps/atom.py) that I would be using it on. The characters that I most likely would align would be 'C','R','T' and 'K'.

[2015-09-09 03:37] zeroone2005 opened #27 "'=>' not support?"
php array  '=>' not support?

[2015-09-09 07:26] adrianlee44 commented on #27
@zeroone2005, it should be supported if you install the [aligner-php](https://atom.io/packages/aligner-php) package

Let me know if it's still not working with that package installed.

[2015-09-09 08:01] adrianlee44 commented on #26
Just published [aligner-python](https://atom.io/packages/aligner-python). Please let me know if it covers all your use cases.

[2015-09-09 08:01] #26 closed

[2015-09-13 07:04] adrianlee44 commented on #27
PHP array should be working with `aligner-php` installed.

Reopen this issue if it's still a problem.

[2015-09-13 07:04] #27 closed

[2015-09-13 21:34] adrianlee44 commented on #25
Added support for `{`.

You will have to update aligner to `v0.16.0` and aligner-scss to `v1.1.0`. With aligner-sccs comes with enable and disable option for each character. You will have to first disable `:` and enable `{` in aligner-scss setting.

In order to properly align the block you described above, you will have to select the whole block. Just using a cursor will not align properly.

[2015-09-13 21:34] #25 closed

[2015-09-13 21:37] adrianlee44 commented on #24
@seoker, I just updated aligner to `v0.16.0` with more support for selection blocks.

In order to align the block you described above properly, you can now select the blocks you want to align with the same offset and then call aligner. Let me know if it works.

[2015-09-13 21:37] #24 closed

[2015-09-13 21:40] adrianlee44 commented on #19
The original bug described in this issue should be fixed. Please reopen this issue if `undefined` is still being appended.

[2015-09-13 21:40] #19 closed

[2015-09-14 13:43] SeanJM opened #28 "Uncaught TypeError: Cannot read property 'selector' of null"
[Enter steps to reproduce below:]

1. in JavaScript, use aligner to align :

[code]

**Atom Version**: 1.0.11
**System**: Mac OS X 10.10.5
**Thrown From**: [aligner](https://github.com/adrianlee44/atom-aligner) package, v0.16.0

### Stack Trace

Uncaught TypeError: Cannot read property 'selector' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-09-14 16:40] Tolmark12 commented on #25
perfect, thank you!

[2015-09-14 17:26] rugk opened #29 "Uncaught Error: Aligner: Package has already been activated"
[Enter steps to reproduce below:]

0. Installing latest update
1. In my case I went to a php file
2. Ctrl+Shift+P and select align there.

**Atom Version**: 1.0.11
**System**: Windows 7
**Thrown From**: [aligner](https://github.com/adrianlee44/atom-aligner) package, v0.16.0

### Stack Trace

Uncaught Error: Aligner: Package has already been activated

[code]

### Commands

[code]

### Config

[cod

[2015-09-14 18:20] rugk commented on #29
BTW this only happened directly after the installation of the latest update.

[2015-09-14 18:23] adrianlee44 commented on #29
@rugk, thanks for reporting this. Did this show up again after restarting Atom?

[2015-09-14 18:23] adrianlee44 commented on #28
@SeanJM, thanks for reporting this. Looking into this.

[2015-09-14 18:41] Rdfenix opened #30 "Failed to load the aligner package"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.11
**System**: Unknown Windows Version
**Thrown From**: [aligner](https://github.com/adrianlee44/atom-aligner) package, v0.16.0

### Stack Trace

Failed to load the aligner package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-09-14 20:41] rugk commented on #29
No.

[2015-09-14 21:02] SeanJM commented on #28
It's broken for JavaScript. You're welcome.

[2015-09-15 04:18] #28 closed

[2015-09-15 04:18] #30 closed

[2015-09-15 04:22] adrianlee44 commented on #29
Due to previous implementation of Aligner, updating aligner caused the package to get into a buggy state. `v0.16.1` should fix this problem here on out but for now, please restart Atom. Thanks!

[2015-09-15 04:22] #29 closed

[2015-09-15 04:23] adrianlee44 commented on #28
Due to previous implementation of Aligner, updating aligner caused the package to get into a buggy state. `v0.16.1` should fix this problem here on out but for now, please restart Atom. Thanks!

[2015-09-15 04:24] adrianlee44 commented on #30
This should be fixed with v0.16.1. Did you see the bug after restarting Atom?

[2015-09-15 13:53] kieranklaassen commented on #29
Yes, after restarting it is fixed. Thanks

[2015-09-20 13:34] rugk opened #31 "Uncaught TypeError: path.extname is not a function"
[Enter steps to reproduce below:]

1. Go to the settings of a package with keybindings.
2. At the keybindings, click on the 'copy' icon

**Atom Version**: 1.0.15
**System**: Windows 7
**Thrown From**: [aligner](https://github.com/adrianlee44/atom-aligner) package, v0.16.1

### Stack Trace

Uncaught TypeError: path.extname is not a function

[code]

### Commands

[code]

### Config

[code]

### Ins

[2015-09-21 04:40] adrianlee44 commented on #31
This is a bug on Atom's Settings View.

You can refer to atom/settings-view#652 for more information. The bug seems to be fixed with atom/settings-views#657.

[2015-09-21 04:40] #31 closed

[2015-09-22 12:53] itadakimas opened #32 "First line unnecessary tabulations"
Hi !

I just noticed that when the alignment is done, the first one is not aligned with the others.

![capture d ecran 2015-09-22 a 14 49 08](https://cloud.githubusercontent.com/assets/688408/10018738/6929bf5e-6139-11e5-8bce-32dcf7eaa532.png)

This is not a JavaScript specific issue.

I don't recall having this problem last month.

[2015-09-22 18:24] adrianlee44 commented on #32
Thanks for reporting this. Will take a look.

[2015-09-23 04:40] #32 closed

[2015-09-23 04:40] adrianlee44 commented on #32
The bug should be fixed with v0.16.2. Please let me know if you are still seeing this problem.

[2015-09-23 14:21] cimak opened #33 "support for html - aligning attributes in html tags"
It would be great if aligner could align attributes like this:
from:

[code]

to:

[code]

[2015-09-24 07:10] adrianlee44 commented on #33
Hm... this use case is a little tricky. I'll see what I can do. No guarantee though.

[2015-09-24 14:08] itadakimas commented on #32
Awesome man thanks !

[2015-09-25 15:05] DarrinTisdale opened #34 "Uncaught Error: Aligner: aligner-css has already been activated"
To reproduce:

1. Not sure -- it just happened a few minutes after upgrading all packages.

**Atom Version**: 1.0.18
**System**: Mac OS X 10.11
**Thrown From**: [aligner](https://github.com/adrianlee44/atom-aligner) package, v0.16.2

### Stack Trace

Uncaught Error: Aligner: aligner-css has already been activated

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-09-27 13:00] Maelstrome26 commented on #34
Can confirm.

[2015-09-29 09:05] #34 closed

[2015-09-29 09:07] adrianlee44 commented on #34
This should be fixed from `v0.17.0` forward. This was due to improper handling of enabling and disabling in aligner.

When you update aligner to v0.17.0, you will still see this bug. Restarting Atom will fix the problem and shouldn't appear in future updates.

[2015-09-30 15:38] cblaupanda opened #35 "Uncaught Error: Aligner: aligner-php has already been activated"
[Enter steps to reproduce below:]

1. ... install update
2. ...

**Atom Version**: 1.0.19
**System**: Ubuntu 14.04.3
**Thrown From**: [aligner](https://github.com/adrianlee44/atom-aligner) package, v0.17.0

### Stack Trace

Uncaught Error: Aligner: aligner-php has already been activated

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-09-30 16:54] dennis-best commented on #35
I got the same error. I noticed that I had aligner-ruby installed and activated. So I just uninstalled it and reinstalled aligner, then reinstalled aligner-ruby (and other aligner packages) and all is good.

[2015-09-30 17:21] adrianlee44 commented on #35
Thanks for reporting the bug. Restarting Atom will fix this bug.

It was due to improper handling of activation and deactivation of aligner. This is patched in v0.17.0 and should be fixed from v0.17.0 onward.

[2015-09-30 17:21] #35 closed

[2015-10-01 09:57] fabien-michel opened #36 "Uncaught Error: Aligner: aligner-ruby has already been activated"
1. Update to last version

Fail when updating, but update seems success

**Atom Version**: 1.0.19
**System**: Mac OS X 10.9.5
**Thrown From**: [aligner](https://github.com/adrianlee44/atom-aligner) package, v0.17.0

### Stack Trace

Uncaught Error: Aligner: aligner-ruby has already been activated

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-10-02 07:14] adrianlee44 commented on #36
Thanks for reporting the bug. Restarting Atom will fix this bug.

It was due to improper handling of activation and deactivation of aligner. This is patched in v0.17.0 and should be fixed from v0.17.0 onward.

[2015-10-02 07:14] #36 closed

[2015-10-06 15:09] sztanpet opened #37 "Uncaught Error: Tried to create a gutter with a name that is already in use."
[Enter steps to reproduce below:]

1. open a file, have at least two panes open
2. drag one open file from one pane to the other

**Atom Version**: 1.0.19
**System**: Microsoft Windows 8.1 Pro
**Thrown From**: [aligner](https://github.com/adrianlee44/atom-aligner) package, v0.17.0

### Stack Trace

Uncaught Error: Tried to create a gutter with a name that is already in use.

[code]

### Commands

[2015-10-07 04:29] adrianlee44 commented on #37
Based on the stack trace, this error is caused by linter v1.8.1.

[2015-10-07 04:29] #37 closed

[2015-10-07 19:18] simonlast opened #38 "Aligning React Props"
This used to work, but it recently broke for some reason:

Before:

[code]

After:

[code]

[2015-10-09 07:20] adrianlee44 commented on #38
Thanks for reporting this @simonlast.

I'm not sure if this used to work since there hasn't been many changes to `language-html` recently. Let me send in a PR to `language-html` so aligner can align this correctly.

[2015-10-09 07:36] adrianlee44 commented on #38
Is this code in a jsx file?

[2015-10-15 11:45] gagalago opened #39 "break on boolean comparator (coffescript)"
this example
[code]
is miss aligned to
[code]

[2015-10-16 08:15] adrianlee44 commented on #39
Oh no! This is a regression. Looking into this.

[2015-10-16 08:28] adrianlee44 commented on #39
It seems like there is a bug with atom/language-coffee-script where `!` has a higher priority than `!=`.

[2015-10-22 17:25] epiales opened #40 "Padding stops working for ":" character"
I have both `Left space for :` and `Right space for :` checked and the `Padding for :` set to `left`

The only workaround currently is going into settings and re-toggling the `Left space for :` option. After awhile, the setting will be ignored and I am forced to do the workaround again.

Expected behavior:
[code]

Actual behavior:
[code]

[2015-10-22 17:31] openam commented on #40
I had this same issue, and the workaround worked for me.

[2015-10-22 17:47] Legioneer commented on #40
:+1:

[2015-10-23 05:58] #40 closed

[2015-10-23 06:01] adrianlee44 commented on #40
Thanks for reporting this. This should be fixed with v0.17.1.

[2015-10-23 07:28] adrianlee44 commented on #12
You can now select and align multiple lines with different indentations which you can now align

[code]

by selecting all three lines and then activate aligner.

[code]

[2015-10-23 07:28] #12 closed

[2015-11-12 23:29] adrianlee44 commented on #39
This is fixed with Atom 1.2 release which is using the latest language-coffee.

[2015-11-12 23:29] #39 closed

[2015-11-16 19:13] radnor opened #41 "Alignment issue with Babel ES6 Javascript"
How can I make it so that aligner treats the Babel ES6 Javascript language from [language-babel](https://github.com/gandm/language-babel) correctly?

Here's my original object.
[code]

If I'm set to `Babel ES6 JavaScript` from language-babel I get this alignment.
[code]

If I set the language to `JavaScript` I get this (proper) alignment.
[code]

[2015-11-18 09:47] adrianlee44 commented on #41
So the bug has to do with the language grammar. In language-javascript, `:` has an `operator` scope which allows aligner to determine how to align these characters.

If you can get me the scope of `:` in `language-bable`, that would be great!

[2015-11-18 15:47] radnor commented on #41
According to [Babel Language.json](https://github.com/gandm/language-babel/blob/master/grammars/Babel%20Language.json) this is how `:` is treated. Hope this helps! :smile:

[code]

[2015-11-19 08:37] #41 closed

[2015-11-19 08:40] adrianlee44 commented on #41
There seems to be multiple definitions for `:` depending on the type of the value but they are all `separator.key-value`.

I have updated aligner but there are some testing issues at the moment. I'll be releasing the new version once those are resolved.

[2015-11-25 18:54] rugk opened #42 "Failed to activate the aligner-php package"
1. Deactivate and activate  aligner-php package

**Atom Version**: 1.2.4
**System**: Windows 7
**Thrown From**: [aligner](https://github.com/adrianlee44/atom-aligner) package, v0.17.2

### Stack Trace

Failed to activate the aligner-php package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-11-25 18:58] adrianlee44 commented on #42
Are you updating from v0.17.1?

[2015-11-25 22:43] rugk commented on #42
As it seems:

Yes. :smile:

[2015-11-25 22:43] rugk commented on #42
Yes I think so.

[2015-11-29 08:55] #42 closed

[2015-12-28 02:02] eevmanu opened #43 "Live Preview Mode"
Excellent work, thanks for your package.
As a suggestion could be very useful to have a live preview with any symbol and apply only to highlighted lines, similar like AlignTab packages in ST (https://github.com/randy3k/AlignTab#live-preview-mode)

[2015-12-28 04:17] adrianlee44 commented on #43
Thanks for using it and your suggestion. It's an interesting suggestion and I would need to think it through first.

[2015-12-29 21:19] rugk opened #44 "Uncaught Error: EPERM: operation not permitted, scandir 'D:\MSOCache'"
[Enter steps to reproduce below:]

1. Just opened my whole drive (e.g. `D:\` on Windows) in Atom - it did not worked very nice.

But the real cause of this seem to be some directories, which Atom cannot access, because administrative rights are required (like `MSOCache` here).

**Atom Version**: 1.3.2
**System**: Windows 7, x64
**Thrown From**: [aligner](https://github.com/adrianlee44/atom-aligner

[2015-12-30 01:41] adrianlee44 commented on #44
Aligner doesn't use `fs-plus` package. It seems like the error message is coming from `tree-view` package which is Atom core package showing the directory tree. I would suggest filing this issue under that repo.

[2015-12-30 01:41] #44 closed

[2016-01-06 01:26] btkostner opened #45 "allow for aligning comments"
Well done on the package, but there is one thing that seems missing. Being able to align comments together similarly to how variables are aligned.

From this:
[code]

to something like this:
[code]

[2016-01-09 22:06] adrianlee44 commented on #45
Thanks for the suggestion. Will look into this.

[2016-01-13 22:54] geminorum opened #46 "indent spaces instead of tabs"
not following the editor settings to use soft or hard tabs.

in my case aligner will convert all indent tabs into spaces

[2016-01-14 08:50] m4dz opened #47 "Allow :whitespace: as separator"
Hi!

I'm used to work with [Stylus](http://stylus-lang.com/) files, and it allows to forgot `:` when declaring properties (http://stylus-lang.com/docs/selectors.html), so:

[code]

will be compiled to:

[code]

I want / need to align my CSS properties in this form:

[code]

Can we use a dedicated separator like *first whitespace available* to make alignment? Is this possible only with a provider,

[2016-01-15 07:23] adrianlee44 commented on #46
Thanks for reporting this @geminorum. Let me take a look.

[2016-01-15 08:35] adrianlee44 commented on #47
Hi @m4dz,
I used to work with Stylus too and remember those whitespaces. Whitespaces is a little tricky. Let me double check the stylus grammar. Most like a new provider and some core code changes will be needed.

[2016-01-19 07:47] adrianlee44 commented on #46
Are you referring to the spaces/tabs before the first character of the line or the spaces/tabs around the character that you are trying to align?

[2016-01-19 10:37] geminorum commented on #46
yes

[2016-01-19 14:22] geminorum commented on #46
before the first character

[2016-01-20 06:37] adrianlee44 commented on #46
I'm having trouble reproduce the bug. These are the test cases I have tried and please let me know if I miss your use case.

1. Tab Type: auto, Soft Tabs: true
2. Tab Type: soft, Soft Tabs: true
3. Tab Type: hard, Soft Tabs: true
4. Tab Type: auto, Soft Tabs: false
5. Tab Type: soft, Soft Tabs: false
6. Tab Type: hard, Soft Tabs: false

All of the above test cases kept the same indentation length

[2016-01-29 08:33] adrianlee44 commented on #46
@geminorum, are you still seeing this bug?

[2016-01-29 19:46] geminorum commented on #46
Still a problem on Atom 1.4.1 with aligner 0.18.0 / aligner-php 1.0.0

here I'm using NPP to demonstrate the bug:

![aligner-bug-before](https://cloud.githubusercontent.com/assets/150718/12686182/977db8f6-c6dd-11e5-88a0-f1613e453c31.png)
Before: hence the arrows that represent hard tabs

![aligner-bug-after](https://cloud.githubusercontent.com/assets/150718/12686243/d7a00600-c6dd-11e5-9860-451f382

[2016-01-30 06:17] adrianlee44 commented on #46
I'm using Atom 1.4.1 with the latest aligner and aligner-php on OSX.

I created the file on Atom and double checked on Sublime Text 3. I wasn't able to reproduce the bug but I'll try it again on Windows.

Original file on Atom
<img width="272" alt="screen shot 2016-01-29 at 10 07 30 pm" src="https://cloud.githubusercontent.com/assets/208855/12694083/e465c1e8-c6d5-11e5-8143-7698e0bb1a04.png">
Origi

[2016-01-30 07:15] adrianlee44 commented on #46
I just tried this out on Windows with Atom 1.4.1 and the latest aligner and aligner-php.

This is using Atom and double checking with NPP. I wasn't able to reproduce the bug.

Before
![screenshot1](https://cloud.githubusercontent.com/assets/208855/12694295/1f66db1c-c6de-11e5-80f0-6abc7a5a87bf.PNG)

After
![screenshot2](https://cloud.githubusercontent.com/assets/208855/12694294/1f656c5a-c6de-11e5-8

[2016-01-30 10:55] geminorum commented on #46
Just tested with freshly installed Atom on Ubuntu, still the same problem. :)

[2016-01-31 08:50] adrianlee44 commented on #46
I just reproduced the bug. The key was to hide invisibles. Thanks.

[2016-01-31 09:21] #46 closed

[2016-01-31 09:25] adrianlee44 commented on #46
This should be fixed with v0.18.1. Please let me know if you are still seeing the bug after updating. Thanks for all your help and reporting this issue.

[2016-01-31 21:40] geminorum commented on #46
fixed on 1.18.1
thanks a lot.

[2016-02-01 09:28] m4dz commented on #47
Oops, I missed your reply, so sorry :sweat:
Tell me if I can help you in any way. Thanks a lot for your work!

[2016-02-01 18:39] rugk opened #48 "Uncaught TypeError: Cannot read property 'forEach' of undefined"
[Enter steps to reproduce below:]

1. Open a tab in a second pane. (in my case the markdown preview)
2. Close it.

**Atom Version**: 1.4.1
**System**: Windows 7 x64
**Thrown From**: [aligner](https://github.com/adrianlee44/atom-aligner) package, v0.18.1

### Stack Trace

Uncaught TypeError: Cannot read property 'forEach' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed

[2016-02-01 21:12] adrianlee44 commented on #48
Based on the stack trace, this error is coming from [tabs](https://github.com/atom/tabs). I would suggest filing this issue on that repo.

[2016-02-01 21:12] #48 closed

[2016-02-02 20:53] rugk commented on #48
Thanks. I found it: https://github.com/atom/tabs/issues/253
It's now fixed with the latest version of another package.

[2016-02-07 07:28] 1vasari commented on #45
I would really like this feature :+1:

[2016-02-10 09:15] adrianlee44 commented on #45
This is on my roadmap but haven't started working on it yet.

[2016-02-14 10:05] #45 closed

[2016-02-15 05:46] adrianlee44 commented on #45
Please update to `v0.19.0` for this feature

[2016-02-16 23:28] kevinastone opened #49 "Failed to load the aligner package"
On Atom startup, I'm getting:

**Atom Version**: 1.1.0
**System**: Mac OS X 10.11.3
**Thrown From**: [aligner](https://github.com/adrianlee44/atom-aligner) package, v0.19.0

### Stack Trace

Failed to load the aligner package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-02-16 23:40] adrianlee44 commented on #49
Any chance you can update to Atom 1.5 and see if you are still seeing this issue?

[2016-02-17 04:54] #49 closed

[2016-02-18 17:16] ambethia commented on #38
Any movement on this? I'm happy to look into it. @adrianlee44 Yes, in JSX files.

[2016-02-22 01:51] adrianlee44 commented on #38
@ambethia which language package are you using for jsx?

[2016-02-22 17:22] ambethia commented on #38
@adrianlee44 https://atom.io/packages/react

[2016-03-17 06:30] adrianlee44 commented on #38
I'm not sure if there is another package that would work with atom-aligner but the issue with `react` package is that it doesn't parse the `=` character.

Based on this line, https://github.com/orktes/atom-react/blob/master/grammars/JavaScript%20(JSX).cson#L47, you can see that it includes 4 patterns, the attribute name, double quote, single quote and code.

None of these patterns include the `=`

[2016-03-24 02:46] emveeoh opened #50 "CSS/LESS selector with double-colon..."
Selectors that require two colons (see example below) are improperly split apart. The second colon is incorrectly aligned with the rest of the css properties. The extra whitespace will break the LESS compiler. Specifically, this happens in LESS documents (.less).   Thank you! :)

For example:
----------------------------------------------------------
atom-text-editor::shadow .cursor {
}

Becomes t

[2016-03-27 08:15] adrianlee44 commented on #50
Thanks for reporting this. Let me take a look.

[2016-03-28 14:09] raymondbadoux opened #51 "Support for key => value pairs"
Hey man, I love this aligner package you built! I especially like the fact that CTRL+Z actually undoes the entire alignment action, instead of un-aligning everything one line at a time and / or freezing the file temporarily (like some of the other alignment packages I tested, did).

Anyway, quick question / suggestion: somehow I'm unable to align key => value pairs in PHP arrays. I tried selecting

[2016-03-28 17:01] adrianlee44 commented on #51
Have you installed [aligner-php package](https://atom.io/packages/aligner-php)?

[2016-03-28 17:35] raymondbadoux commented on #51
Hey, thanks your your quick reply! I just installed the PHP specific package and it did the trick - awesome!

[2016-03-28 20:52] adrianlee44 commented on #51
Glad to hear that it worked out.

[2016-03-28 20:52] #51 closed

[2016-03-29 18:50] dylanjameswagner opened #52 "Support for PHP associative array key => value"
Trying to align on => has no result.

desired outcome:
[code]

[2016-03-29 19:07] adrianlee44 commented on #52
Have you installed [aligner-php package](https://atom.io/packages/aligner-php)?

[2016-03-30 13:36] dylanjameswagner commented on #52
Apologies, I misread the documentation and thought that PHP support was included in the primary package. I have installed aligner-php and all is good. Thank you.

[2016-03-30 13:36] #52 closed

[2016-03-30 22:55] Industrial opened #53 "Can't get it to work with LiveScript"
Hi!

I'm mainly coding in [LiveScript](http://livescript.net) these days and I have one problem:

Alignment of `{ x, y } = z` does not work.

[code]

[2016-03-31 03:19] adrianlee44 commented on #53
Do you use any additional language package for LiveScript?

[2016-04-04 08:09] Industrial commented on #53
Yes, I use https://atom.io/packages/language-livescript

[2016-04-05 07:40] adrianlee44 commented on #53
For clarification, you are looking for the `=` in `{ x, y } = z` to align with previous `=`s, right?

[2016-04-05 09:44] Industrial commented on #53
Yes, that would be great :-)

[2016-04-07 07:47] adrianlee44 commented on #53
The issue is with the grammar. Currently the grammar is parsing `} =` as one token instead of 2. I'll look into creating a PR for that grammar.

[2016-04-07 07:52] adrianlee44 commented on #53
It also seems like the package is not maintained for a while now so creating a PR might not fix this issue.

[2016-04-07 08:11] Industrial commented on #53
Okay, I will look into continuing/owning that package this weekend :-)

[2016-04-07 08:13] adrianlee44 commented on #53
Let me know if you do as I have a quick patch for the grammar.

I'm going to close this for now.

[2016-04-07 08:13] #53 closed

[2016-04-10 05:06] adrianlee44 commented on #50
It seems like [language-less](https://github.com/atom/language-less) doesn't support `::shadow` properly. I'm going submit a PR to look into fixing it.

[2016-04-10 05:47] adrianlee44 commented on #50
Opened atom/language-less#55 which should fix this issue.

[2016-04-10 21:38] adrianlee44 commented on #50
The PR has been merged and the language package has been bumped. This should be fixe in the next release of Atom.

[2016-04-10 21:38] #50 closed

[2016-04-16 23:56] adrianlee44 commented on #47
I have finally gotten around to look deeper into this issue. With the release of v0.21.0, aligner now support whitespace as separator.

You will have to install https://atom.io/packages/aligner-stylus to align whitespace correctly though.

Since Aligner relies on the grammar to work properly, I have tested this against https://atom.io/packages/stylus. Let me know if you are using other packages an

[2016-04-16 23:56] #47 closed

[2016-04-19 14:54] m4dz commented on #47
Woohooo, you're awesome :tada:! Thanks :+1: !

[2016-04-25 00:08] NullVoxPopuli commented on #30
I still get the error "Failed to load the asigner package"

[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.187.0
**System**: linux 4.2.0-35-generic
**Thrown From**: [aligner](https://github.com/adrianlee44/atom-aligner) package, v0.21.0

### Stack Trace

Failed to load the aligner package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-04-25 06:15] adrianlee44 commented on #30
@NullVoxPopuli, thanks for reporting. Any chance you can update Atom to the latest version, [1.7.2](https://github.com/atom/atom/releases/tag/v1.7.2)?

[2016-04-25 09:02] NullVoxPopuli commented on #30
that was it! thanks! :-)

[2016-04-26 19:14] glortho opened #54 "Aligner aligns commas instead of colons with flow"
When I run aligner (0.21.0) on this flowtype definition to align colons, it aligns commas instead. Is this the expected behavior? If so, how can I align on colons instead?
[code]

[2016-04-27 06:28] adrianlee44 commented on #54
Thanks for reporting this. What file extension is this saved in and are you using another language package?

[2016-04-27 07:15] adrianlee44 commented on #54
If you are using `language-javascript`, it seems like the grammar is not parsing `:` properly here. Going to create a PR on that package to fix this.

[2016-04-27 07:46] adrianlee44 commented on #54
I'm not familiar with flowtype but do you need `export` here for it to work?

Based on current es6 syntax, https://github.com/ModuleLoader/es6-module-loader/wiki/Brief-Overview-of-ES6-Module-syntax, the first line doesn't seem like valid syntax.

If you remove `export`, your code block should align properly.

[2016-04-27 12:01] veggiemonk opened #55 "Uncaught TypeError: Cannot read property 'trailingComment' of undefined"
Steps to reproduce

1. open the file `.eslint.js`
2. try to align the rules with a comment in between
Example
[code]
3. ==> error

----------------
**Atom Version**: 1.7.2
**System**: Ubuntu 15.10
**Thrown From**: [aligner](https://github.com/adrianlee44/atom-aligner) package, v0.21.0

### Stack Trace

Uncaught TypeError: Cannot read property 'trailingComment' of undefined

[code]

### Commands

[

[2016-04-27 12:38] glortho commented on #54
Thanks for the quick response @adrianlee44 . I'm using `language-babel`. And Flow lets you share types as if they were modules: http://flowtype.org/docs/syntax.html#importing-and-exporting-types . In my case I'm exporting an object type alias, which is common across our codebase.

I know it can be tricky to detect all cases. As a recent convert from vim I was hoping for functionality along the lin

[2016-04-28 05:35] adrianlee44 commented on #55
Thanks for report this. Taking a look.

[2016-04-28 07:14] #55 closed

[2016-04-28 07:24] adrianlee44 commented on #54
Hi @glortho, if you install [language-babel](https://atom.io/packages/language-babel) and update aligner to v0.22.0, the code above will align properly.

Let me know if that works.

[2016-04-28 07:25] adrianlee44 commented on #55
This is fixed with v0.22.0. Thanks!

[2016-04-28 12:26] veggiemonk commented on #55
@adrianlee44 cool. Thanks a lot! It works very nicely

[2016-04-28 13:24] glortho commented on #54
works! many thanks @adrianlee44

[2016-04-28 13:24] #54 closed

[2016-06-09 21:12] michaelmesser opened #56 "How can I tell aligner to align based of a comma"
How can I achieve this transformation:

[code]

There is a similar example on the front page.

[2016-06-09 21:26] adrianlee44 commented on #56
What language is this?

[2016-06-25 05:50] bigdogmat opened #57 "Lua support"
Would be nice to see [Lua ](http://www.lua.org/)support for this.

[2016-06-25 06:07] adrianlee44 commented on #57
Can you give some examples of what you are trying to align?

[2016-06-25 06:11] bigdogmat commented on #57
[code]
To
[code]
And possibly table alignment, e.g.
[code]
To
[code]

[2016-06-30 08:08] adrianlee44 commented on #57
Sorry for the late response. Are you using this package (https://atom.io/packages/language-lua) for grammar support?

[2016-06-30 08:24] adrianlee44 commented on #57
I just published https://atom.io/packages/aligner-lua which should provide support for Lua. Let me know if you encounter any issue.

[2016-06-30 08:24] #57 closed

[2016-07-07 05:12] EdStudio opened #58 "Feature Request: Align Javascript new `import ... from ...` syntax"
First of all, thanks for this great package!

As my usual practice, I would also align the new `import ... from ...` syntax.
Here is an example:
[code]
I am not so sure if this is easily achievable.
But it would be great if the package could support this either.

Or if you could point out where I should start with, I am willing to have a try on this. 👍
Thank you!

[2016-07-07 14:15] adrianlee44 commented on #58
Are you using the JS language pack from Atom or a 3rd party one?

[2016-07-09 13:06] dirkdirk opened #59 "Fixed"
Fixed.

[2016-07-12 22:23] teaman opened #60 "aligning selection tabs contents to the right"
I select lines of code and press the cmd-cntrl-/ and not only does the alignment behave as described by the Settings, but it also tabs the contents to the right by at least a couple spaces. Not sure why this is being done and why it isn't a Setting that can be disabled.

[2016-07-13 07:53] adrianlee44 commented on #60
Can you provide an example or record a gif of what you described over? Thanks.

[2016-07-13 17:27] teaman commented on #60
Here's a screencast recording.
http://screencast.com/t/4783UrkSVtG

[2016-07-15 08:28] adrianlee44 commented on #60
This is definitely a bug based on the screencast. Let me take a look at this.

[2016-07-19 16:51] pahomov commented on #58
i've tried every language-javascript package, imports didn`t aligned

[2016-07-21 07:46] adrianlee44 commented on #58
I have published an add-on package for Javascript that better support new syntax.

You can find the package here, https://github.com/adrianlee44/atom-aligner-javascript or search for `aligner-javascript` on Atom

[2016-07-21 07:46] #58 closed

[2016-07-21 07:51] adrianlee44 commented on #59
I'm guessing this issue is resolved given that you have changed the title and the description.

[2016-07-21 07:51] #59 closed

[2016-08-01 00:47] adrianlee44 commented on #56
Closing this since there is no activity for the last few weeks.

[2016-08-01 02:17] 2426021684 commented on #56
This is typescript

[2016-08-01 03:09] adrianlee44 commented on #56
Thanks. Will take a look.

[2016-08-02 22:28] LeslieCarr opened #61 "TextEditor.module.exports.Object.defineProperty.get is deprecated."
Hello - I'm using Atom 1.9.1 and have gotten this below error while using aligner.  I double checked that I'm using the latest aligner package (0.22.0)

Thanks!

`TextEditor.prototype.displayBuffer` has always been private, but now
it is gone. Reading the `displayBuffer` property now returns a reference
to the containing `TextEditor`, which now provides *some* of the API of
the defunct `DisplayBuf

[2016-08-03 08:18] adrianlee44 commented on #61
Thanks for the PR. The fix should be in `v0.22.1`. Please let me know if you are still seeing the issue after updating.

[2016-08-03 08:18] #61 closed

[2016-09-24 19:53] mihadis opened #62 "Comment duplication when aligning variables with and without operators."
[code]

Aligning the above ⬆️ (variables with operators + variables with no operators) results in comment duplication: ⬇️

[code]

The comments are now aligned, but the line with no operator does not delete the comment from the old position. 😩

[2016-09-25 00:53] adrianlee44 commented on #62
Thanks for reporting this. Taking a look

[2016-09-26 02:54] #62 closed

[2016-09-28 20:51] victorwpbastos opened #63 "Change default keybinding"
Can I change the default keybinding to another? e.g `ctrl-alt-a`.

[2016-09-28 20:54] victorwpbastos commented on #63
Nevermind. I added the following to my `keymap.cson`:
[code]

[2016-09-28 20:54] #63 closed

[2016-10-25 02:06] wbotelhos opened #64 "Align RSpec to eq"
I could not align the eq values like I was doing on https://github.com/jarod2d/sublime_valign
Is it possible?

From:

[code]

To:

[code]

[2016-10-28 08:02] adrianlee44 commented on #64
Do you use a language pack for RSpec? If so, can you link it here.

[2016-10-28 12:52] wbotelhos commented on #64
I don't, just your plugin.

[2016-10-28 19:13] adrianlee44 commented on #64
Oh sorry. I meant do you use any other packages for syntax highlighting when editing RSpec files.

[2016-10-28 19:53] wbotelhos commented on #64
No, I don't.

It should be working?

[2016-11-30 11:54] dwelle opened #65 "aligning destructuring statements removes/mangles code"
atom `1.12.6`, aligner `0.22.6`

source (the `|` indicates cursor position):
[code]
output:
[code]

Also, unrelated -- putting cursor on line 2 in the above case doesn't align at all upon trigger.

[2016-12-01 08:09] adrianlee44 commented on #65
Thanks for reporting this.

Which es6 language package are you using? Is it https://atom.io/packages/language-babel?

[2016-12-01 09:28] dwelle commented on #65
No, I'm not using any es6 language, just the default `language-javascript` AFAIK.. here are my community packages:

[code]

[2016-12-05 10:02] #65 closed

[2017-03-08 10:17] tomkiss opened #66 "Bug: Removing code (!)"
When aligning this section of react javascript:
[code]
The on click value is removed.

Doesn't fill me with confidence when aligning large blocks of text 🤔

[2017-03-10 09:38] adrianlee44 commented on #66
Thanks for reporting! Let me take a look.

What language pack are you using?

[2017-03-10 11:36] mm-tom commented on #66
Just the base atom-aligner (I have installed but disabled the aligner-javascript and aligner-scss to narrow down the issue).

[2017-03-10 11:36] tomkiss commented on #66
Just the base atom-aligner (I have installed but disabled the aligner-javascript and aligner-scss to narrow down the issue).

[2017-03-12 00:08] adrianlee44 commented on #66
I'm trying to reproduce the issue right now but having trouble doing so.

atom-aligner requires on other language package to parse your code. Did you install additional packages for syntax highlighting for react, such as https://atom.io/packages/react?

What block have you selected or where was your cursor when you try to align the block above?

Any chance you can paste a larger code block?

Thank

[2017-03-12 00:42] tomkiss commented on #66
Heya,
No additional packages parsing the code, afaik. This occurs when type is set to "Javascript with JSX". I can repro with just the text above pasted in new file with type set to Javascript with JSX.

[2017-05-07 23:37] adrianlee44 commented on #64
Not sure if you are still using aligner since it has been a while. Aligner relies on language packages to tokenize text so it can align the correct tokens. Without a rspec language package, Aligner will not work properly.

Going to close this for now. Please let me know if this is still an issue.

[2017-05-07 23:43] adrianlee44 commented on #60
Just testing the same code with the latest version of Aligner and it's working properly.

Closing this issue and please let me know if it's still an issue.

[2017-05-07 23:43] #60 closed

[2017-05-08 06:12] wbotelhos commented on #64
Hi,

What package do I need plus this one?

Maybe it?: https://atom.io/packages/language-rspec (still not working)

Just now I'm talking about align `eq`, not `:`, `=` etc...

[code]

to

[code]

Thanks.

[2017-05-09 05:43] adrianlee44 commented on #64
It looks like language-rspec doesn't tokenize/highlight `eq` at the moment. I have submitted a PR to do so. If that PR is accepted, I'll be able to add support for `eq` through `aligner-ruby`, https://atom.io/packages/aligner-ruby

[2017-05-14 02:56] nubilfi opened #67 "Aligner not working on Linux"
Hi,
I'm using linux 64bit (Debian 8) but it seems the aligner not working at all. I've even tried to change the keymap shortcut but its still not working.

[2017-05-14 02:58] adrianlee44 commented on #67
Which language are you trying to align? Aligner used to have a basic set of config but that has since been removed in 1.0.0

[2017-05-14 03:07] nubilfi commented on #67
Javascript. I've installed [aligner-javascript](https://atom.io/packages/aligner-javascript), and also restart the atom for several times, but still not working. I'll try to restart my laptop now and hope it'll work

[2017-05-14 03:11] adrianlee44 commented on #67
What's the file extension of your JS file? Did you install any other JavaScript language pack?

[2017-05-14 03:26] nubilfi commented on #67
`.js` files. But it's already working now, i'm not quite sure, after restart my laptop the aligner working fine

[2017-05-14 03:35] #67 closed

[2017-05-17 15:19] Aaron-Pool opened #68 "New Update Breaks functionality"
Just downloaded the most recent update, and nothing happens upon running alignment. My specific use case is assignment operation are not being aligned. Please see the link below for demonstration.

https://i.gyazo.com/c1e54a445427cda5dddad9585374cf5c.mp4

[2017-05-17 19:45] dwelle commented on #68
meanwhile, we can downgrade via ` apm install aligner@0.22.3` (that's the last version that works for me).

[2017-05-18 06:59] adrianlee44 commented on #68
Any chance you have https://atom.io/packages/aligner-javascript installed?

[2017-05-18 08:01] #64 closed

[2017-05-18 08:02] adrianlee44 commented on #64
Updating aligner-ruby to v1.6.0 and language-rspec to the latest version should align `eq` properly now.

[2017-05-18 08:33] adrianlee44 commented on #68
Aligner v1+ removed the basic set of configurations and opted for language specific configurations. I thought I have added code to prompt user to install `aligner-javascript` but it seems like it wasn't working as I expected.

I have since fixed the issue with v1.2.0 and should now prompt you to install `aligner-javascript`. Hope this fixes the problem you were having.

[2017-05-18 09:55] dwelle commented on #68
Yep, didn't notify before and now it does, and works properly. You still need to restart atom to be notified of the required dependency (not sure if it can be fixed).

[2017-05-18 17:07] wbotelhos commented on #64
Hi @adrianlee44 ,

First, thank you for you job.

I think I'm doing something wrong, because it still does not works for me:

[code]
Maybe it is my setup?

![screen shot 2017-05-18 at 2 05 57 pm](https://cloud.githubusercontent.com/assets/116234/26214546/26bd3b34-3bd3-11e7-84f3-2d345fbe4c22.png)
![screen shot 2017-05-18 at 2 05 45 pm](https://cloud.githubusercontent.com/assets/116234/26214548/26d6

[2017-05-19 03:49] wbotelhos commented on #64
You are awesome!

It was `Ruby on Rails`, my bad @adrianlee44 .

Thank you very much! <3

[2017-05-19 17:34] Aaron-Pool commented on #68
Ok, so that worked, and the package is now semi-functional. But the object-colon alignment setting doesn't seem to work anymore. No matter whether the box is checked or unchecked it still puts the space on the right side of the colon.

[2017-05-20 05:05] adrianlee44 commented on #68
Working on reproducing the issue.

Are you trying to convert
[code]

to
[code]

or

[code]

[2017-05-20 19:41] Aaron-Pool commented on #68
First one :)

Btw, thank you so much for being so on the ball about this!

[2017-05-20 19:43] Aaron-Pool commented on #68
OH NEVER MIND. I take back everything I said, I was using the settings on the original atom-package and I assumed that `:-leftspace` check box must be what I was looking for. I found the right setting on the new jaavscript-aligner package and everything is working fine.

[2017-05-21 07:08] adrianlee44 commented on #68
No worries. I'm glad you figured it out and it's working for you. Wasn't expecting the settings to linger in the `aligner` package. Might look into a way to clean that up.

[2017-05-21 07:18] azawawi commented on #68
@adrianlee44 Thanks for all your excellent work. I am having the same problem since the new release with [atom-aligner-python](https://github.com/adrianlee44/atom-aligner-python). Can you please check it out? Even a normal `=` alignment is not working without a downgrade.

[2017-05-21 07:19] adrianlee44 commented on #68
Can you file an issue on atom-aligner-python with a code sample you are trying to align? Thanks

[2017-05-21 07:19] azawawi commented on #68
Sure

[2017-05-23 06:06] adrianlee44 commented on #68
Looks like most of the issues are now resolved with the new update. I'm going to close this issue. Please let me know if there are still issues.

[2017-05-23 06:06] #68 closed

[2017-05-24 17:30] Aaron-Pool commented on #68
Thanks again @adrianlee44 ! This package fulfills all my hyper-perfectionist impulses, and I really appreciate you being so quick in getting any problems addressed.

Keep up the good work 👍

[2017-05-24 21:55] azawawi commented on #68
@adrianlee44 Thanks for your excellent package. I use it everyday 👍

[2017-05-31 04:30] adrianlee44 commented on #66
Not sure if you are still using Aligner but are you still experiencing the issue with the latest version (v1.2.1)?

[2017-05-31 09:54] tomkiss commented on #66
Hi there, just tried this and it appears to be fixed now :)

Thanks!

[2017-06-01 05:29] adrianlee44 commented on #66
Glad to hear that the issue is resolved.

[2017-06-01 05:29] #66 closed

[2017-06-13 14:31] steronydh opened #69 "Uncaught TypeError: Cannot read property 'getSelectedBufferRanges' of undefined"
1. install keybindings-cheatsheet
2. install atom-aligner
3. Press Ctrl+Alt+/ once - the keybindings pane opens
4. Press Ctrl+Alt+/ again - the error occurs

Both packages use the same shortcut, and it seems that atom-aligner doesn't like being triggered from within the keybindings-cheatsheet pane.

**Atom**: 1.17.2 x64
**Electron**: 1.3.15
**OS**: Microsoft Windows 10 Pro
**Thrown From**: [aligne

[2017-06-14 04:34] adrianlee44 commented on #69
Thanks for reporting this issue. When you hit `Ctrl+Alt+/` again in the cheat sheet pane, are you just looking to hide the cheat sheet?

[2017-06-14 05:23] #69 closed

[2017-06-14 08:00] steronydh commented on #69
It does usually just close the cheat sheet pane. I'm not sure what the correct operation should be when two packages use the same shortcut!

[2017-06-15 07:21] adrianlee44 commented on #69
I bumped aligner to v1.2.2 which should help with the issue when you are on the cheat sheet.

[2017-06-15 08:26] steronydh commented on #69
Great, thanks.

[2017-06-26 10:16] levblanc opened #70 "where to modify alignment options ?"
Hi,

I went through the custom config guidelines in [this wiki page](https://github.com/adrianlee44/atom-aligner/wiki/User-configurations),
but didn't figure out how to make those changes.

Anyone please help.

[2017-06-28 06:30] adrianlee44 commented on #70
Hi @levblanc, aligner is a barebone package. The configurations are in the addon packages. What language are you trying to align?

[2017-06-29 04:34] levblanc commented on #70
Hi @adrianlee44,

Thanks for letting me know.
I was looking for settings in the aligner package itself for some time.
Would be better if you could add a note in the wiki page.  :)

[2017-06-29 04:34] #70 closed

[2017-06-29 07:38] adrianlee44 commented on #70
Thanks for the suggestion. The wiki pages are definitely out of date and should be updated.

[2017-07-05 23:49] dgmorrisjr opened #71 "aligner for salt states"
Hi @adrianlee44  - I've been using your atom-aligner for python and it works great.   But I find myself wanting to also use this same functionality in the Salt States that i develop.  (SaltStack files ending in .sls extension).   These are essentially files that contain python, jinja, and yaml content.

I was looking through the source for the atom-aligner-python.   I'm wondering if it's just a ma

[2017-07-05 23:55] dgmorrisjr commented on #71
I found this in the language-salt package settings `source.salt`

[2017-07-06 03:26] semi-xi opened #72 "different from file vue and file js"
a.vue
[code]
when i select the text
[code]
and run the plugin ,it can't be what i want
[code]
but if the same `json`in file js
it can what i want.
[code]

[2017-07-06 03:27] semi-xi commented on #72
i remember the previous version is ok ,but ,when i update it's not work as i want

[2017-07-06 07:09] adrianlee44 commented on #71
Hi @dgmorrisjr,
You can copy the same format in the python and port it over for Salt States. The selector would change to `.source.salt`.

What are you trying to align? In order for aligner to work, you would need to figure out the scope of the character you are trying to align. You can do `cmd-alt-p` or search for "Log cursor scope" in the command palette.

[2017-07-06 07:14] adrianlee44 commented on #72
The updated version of aligner doesn't come with any language support. It seems like you have downloaded `atom-aligner-javascript`? Which language package are you using for Vue syntax highlight?

[2017-07-06 14:39] dgmorrisjr commented on #71
Thanks for the help,

Here is an example of content of a salt state... this file could be `<filename>.sls`:
[code]

When the cursor is over the Jinja Set Statements, the scope that's revealed when pressing `alt+cmd+p` is `source.salt`, `meta.scope.jinja.tag`, and `variable.other.jinja`.

When the cursor is over any of the Yaml Key Names, the scope that's revealed is: `source.salt`, and `entity.nam

[2017-07-06 20:05] dgmorrisjr commented on #71
one of the other things that might be helpful... I also have the `language-salt` package installed.   within the settings for that package,  they have this setting:

![image](https://user-images.githubusercontent.com/12668108/27930523-e5eeb2b4-6264-11e7-9ced-72facd19a940.png)

I'm wondering if the `Unscoped Value:` which includes a `:` has an impact?

[2017-07-10 07:02] semi-xi commented on #72
@adrianlee44
i use `language-vue`、`vue-autocompile`and`vue2-autocomplete`.
i check all my atom package and uninstall all the aligner package which name  is indexOf 'aligner' .

after  that i install `atom-aligner`,it let me install the dependent package [aligner-javascript](https://atom.io/packages/aligner-javascript)

[2017-07-11 04:29] kondalraodurgam opened #73 "Atom aligner not working"
I installed atom aligner but its not working in in my atom

[2017-07-11 06:39] adrianlee44 commented on #73
Hi @kondalraodurgam, what languages are you trying to align. Aligner doesn't come with language support.

If you are looking for Javascript support, you can download this package, https://atom.io/packages/aligner-javascript

[2017-07-11 06:43] adrianlee44 commented on #72
Did downloading the latest version (v1.2.0) of aligner-javascript fix the issue for you?

[2017-07-11 06:53] semi-xi commented on #72
@adrianlee44 the same as before, no working.
Finally, no way, I decided to manually align -)

[2017-07-11 06:56] adrianlee44 commented on #72
Hm... I just installed language-vue with the code sample you provided above and i was able to align

[code]

to

[code]

If you do `apm list --packages`, what shows up under "Community Packages"?

[2017-07-11 06:58] adrianlee44 commented on #71
Looking at the information you have given me and installing `language-salt`. `:` is definitely tokenized but not the `=` in the set statement.

The following code should work:
[code]

In order to get `=` to work, the grammar file would need to be updated to tokenize that character.

[2017-07-11 07:07] semi-xi commented on #72
@adrianlee44 ORZ, it seems work,but i don't konw what happen.
maybe some plugins conflict . i have no idea.
but the result looks good :)

[2017-07-11 07:08] adrianlee44 commented on #72
:) Good to hear! Going to close this for now. Let me know if you are still experiencing issues.

[2017-07-11 07:08] #72 closed

[2017-07-11 07:21] kondalraodurgam commented on #73
Hi@adrianlee44 , iam using javascript purpose but its alignment doesn't work

[2017-07-11 12:50] dgmorrisjr commented on #71
I believe it was the `privateConfig` from your example above that made it work.   After updating and restarting Atom, it works.   It's working for both the `=` assignment  in the jinja and the `:` key-value pairs in the yaml.  But I have both `.source.salt` and `.source.python` in the selector list.

Would you like setup a project for aligner-salt?   i'd be happy to provide what I have to serve as

[2017-07-15 23:07] adrianlee44 commented on #71
@dgmorrisjr, I have published a https://atom.io/packages/aligner-salt for Salt support. The package only targets `.source.salt`. Please use `aligner-python` when targeting `.source.python`.

Going to close this now. Let me know if you are having issue with aligner-salt

[2017-07-15 23:07] #71 closed

[2017-07-15 23:08] adrianlee44 commented on #73
Hm... can you run `apm ls` and provide the list of packages under `Community Packages`? Thanks.

[2017-07-15 23:51] dgmorrisjr commented on #71
Thanks So much!

Thanks,

Dan Morris

Mobile: 443-992-2848

GV: 410-861-0206

From: Adrian Lee <notifications@github.com>
Reply-To: adrianlee44/atom-aligner <reply@reply.github.com>
Date: Saturday, July 15, 2017 at 7:07 PM
To: adrianlee44/atom-aligner <atom-aligner@noreply.github.com>
Cc: Daniel Morris <dgmorrisjr@gmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [adrianlee44/atom-alig

[2017-07-26 07:02] m-pokrovskii commented on #73
is Packages -> Aligner -> Align works?

[2017-08-01 04:41] adrianlee44 commented on #73
@m-pokrovskii, using the menu should work as long as there is a cursor on the editor before clicking the menu

[2017-08-02 08:56] marcghorayeb opened #74 "TypeScript support"
Hello,
First of all, great work on the module! Really useful for any maniacs like myself ;)
I was wondering how ward would it be to make the atom-aligner-javascript package to support typescript files? Has this been already tested or not?
Best regards,
Marc

[2017-08-04 05:54] adrianlee44 commented on #74
There hasn't been a need for TypeScript support so I haven't looked into it yet. You can also create an TypeScript aligner addon package by copying most of atom-aligner-javascript code.

You would need to update the selector to `.source.ts` and `.source.tsx`. Also update the the scope of the character you are trying to align.

[2017-08-08 12:16] marcghorayeb commented on #74
Okay, I'll try to look into it, will let you know how it goes 👍

[2017-08-08 13:30] marcghorayeb commented on #74
Created the package here : https://github.com/marcghorayeb/atom-aligner-typescript
Quickly tested, seems to work, great work on the main plugin, thanks for the help :)

[2017-08-08 13:30] #74 closed

[2017-08-14 14:08] tomkiss commented on #73
This has not been working for me for a while now also.

Here's my community packages list:

[code]

[2017-08-15 06:33] adrianlee44 commented on #73
@tomkiss, it seems like the core package `aligner` is missing in your community packages list.

[2017-08-15 09:14] funbers opened #75 "Aligner stopped working after atom updated to 1.19.0"
I've confirmed no keyboard collisions. Also selected command from menu.

Before update it aligned things perfectly in my lua and js files. After update it does nothing.

Version of aligner: 1.2.4, aligner-javascript: 1.3.0

[2017-08-15 09:53] mm-tom commented on #73
Yes, sorry for some reason that was truncated. It's the first item on the list.
[code]

[2017-08-16 07:50] adrianlee44 commented on #75
Aligner-javascript should support js files. What are you trying to align and can you share some sample snippets?

As for lua, you would have to download `aligner-lua`.

[2017-08-16 07:50] adrianlee44 commented on #73
Can you share some of the code snippet you are trying to align?

[2017-08-16 08:28] mm-tom commented on #73
I've been just testing it on the example given in the README.

[code]

[2017-09-07 15:09] TJProgrammer opened #76 "Package doesn't accept Ctrl-Alt-/"
The atom doesn't recognize `Ctrl-Alt-/` from numeric keyboard.
Do work I must type `Ctrl-Alt-Shift-/`.
What this happen?

[2017-09-11 00:11] adrianlee44 commented on #76
The current binding is set to `Ctrl-Alt-/`.

Can you double check if there are conflicted settings by toggling the keybinding resolver with `ctrl-.` and then press `Ctrl-Alt-/`. Do you see any other packages other than `aligner`?

[2017-09-16 23:30] adrianlee44 commented on #75
Is this still an issue? Closing this for now. Please reopen and update this issues if this is still a problem.

[2017-09-16 23:30] #75 closed

[2017-09-16 23:39] adrianlee44 commented on #73
I'm having trouble reproducing the issue. Please make sure there is no keybinding conflict with aligner. I'm going to close this issue and open a new issue if it's still a problem.

[2017-09-16 23:39] #73 closed

[2018-02-21 15:20] PauloInGitHub commented on #76
Ctrl-Alt-/ places the selected text between { }. My keyboard layout is PT-pt.

[2018-03-10 21:48] adrianlee44 commented on #76
@PauloInGitHub, if `Ctrl-Alt-/` is not an ideal keyboard shortcut, you can remap the binding by clicking `Atom -> Keymap`

Then adding the following few lines:
[code]

[2018-03-26 09:08] Chifilly opened #78 "Uncaught TypeError: Cannot read property 'reset' of null"
[Enter steps to reproduce:]

1. Load a .js file
2. Try and align some code

**Atom**: 1.25.0 x64
**Electron**: 1.7.11
**OS**: Microsoft Windows 10 Pro
**Thrown From**: [aligner](https://github.com/adrianlee44/atom-aligner) package 1.2.4

### Stack Trace

Uncaught TypeError: Cannot read property 'reset' of null

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-03-27 14:06] Chifilly commented on #78
After some more testing, it seems it's only a problem when the "Use Tree Sitter Parsers" is enabled

[2018-11-04 17:34] tithonium commented on #78
Error happens for me in ruby files.

[2018-12-04 12:42] jmurowaniecki commented on #78
1. Open a bash file;
2. I selected some points (CTRL + D);
3. I navigated to the point where I would like to align;
4. Press CTRL + ALT + /;
5. :boom:

**Atom**: 1.33.0 x64
**Electron**: 2.0.11
**OS**: Ubuntu 18.04.1
**Thrown From**: [aligner](https://github.com/adrianlee44/atom-aligner) package 1.2.4

### Stack Trace

Uncaught TypeError: Cannot read property 'reset' of null

[code]

### Commands

[2018-12-13 04:33] skypress-bmo commented on #78
1. Navigate to a JS file, and a group of lines to align
2. Use Ctl + Alt + /

**Atom**: 1.32.0 x64
**Electron**: 2.0.9
**OS**: linux 4.18.16-96.current
**Thrown From**: [aligner](https://github.com/adrianlee44/atom-aligner) package 1.2.4

### Stack Trace

Uncaught TypeError: Cannot read property 'reset' of null

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2019-07-25 21:20] cldwalker commented on #78
I ran into this bug on atom 1.38.2 for a simple js alignment case. When I upgraded to 1.40.0-beta1
 via Atom Beta, I no longer saw this bug. Seems https://github.com/atom/atom/pull/19538 addressed the issue 🎉

[2019-09-12 06:43] selectedxp opened #84 "Failed to activate the aligner package"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.40.1 x64
**Electron**: 3.1.10
**OS**: Linux Lite
**Thrown From**: [aligner](https://github.com/adrianlee44/atom-aligner) package 1.2.4

### Stack Trace

Failed to activate the aligner package

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2020-04-27 19:40] francis-de-ladu opened #85 "Uncaught TypeError: Cannot assign to read only property 'row' of object '[object Object]'"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.45.0 x64
**Electron**: 4.2.7
**OS**: Linux Mint
**Thrown From**: [aligner](https://github.com/adrianlee44/atom-aligner) package 1.2.4

### Stack Trace

Uncaught TypeError: Cannot assign to read only property 'row' of object '[object Object]'

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2020-04-28 05:19] adrianlee44 commented on #85
Hi @francis-de-ladu, are you trying to align python and is it possible to share a sample snippet of the code you are trying to align?

[2020-04-28 06:06] adrianlee44 commented on #56
Looks like there is an addon for Typescript now (https://atom.io/packages/aligner-typescript). Closing this.

[2020-04-28 06:06] #56 closed

[2020-04-28 06:06] adrianlee44 commented on #76
Closing due to inactivity.

[2020-04-28 06:06] #76 closed

[2020-04-28 06:07] adrianlee44 commented on #78
It has been at least 5 minor version since 1.40.0 and hopefully everyone has upgraded. I'm going to close this issue now.

[2020-04-28 06:07] #78 closed

[2020-04-28 06:09] adrianlee44 commented on #84
I'm not sure if you have resolved this issue but based on the error message, it seems like one of the dependencies were not installed correctly.

I'm going to close this for now.

[2020-04-28 06:09] #84 closed

[2020-05-01 21:29] francis-de-ladu commented on #85
import argparse
import pandas as pd
import tweepy
import sys

from TwitterApi import ApiHandle

# Api keys to be used to authenticate to Twitter's api.
API_KEY = "API_KEY"
API_SECRET = "API_SECRET"

api = ApiHandle(API_KEY, API_SECRET)

attributes = {
    'id_str': 'id_str',
    'created_at': 'created_at',
    'author_screen_name': ['author', 'screen_name'],
    'author_id_str': ['author', 'id_str

[2020-05-01 21:34] francis-de-ladu commented on #85
The problem doesn't happen when I remove what's commented inside the brackets, but it still doesn't align colons as expected.

[2021-04-06 18:00] GebruikerR opened #86 "Identical examples readme.md"
In [README.md](https://github.com/adrianlee44/atom-aligner/blob/main/README.md) an example is geven between two ways of aligning, but they are identical.

[2021-04-08 06:49] #86 closed

[2021-04-08 06:49] adrianlee44 commented on #86
@GebruikerR Thanks for letting me know.

[2022-10-14 22:26] #43 closed